
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  position: relative;
  overflow-x: hidden;
}

.background {
  background-image: url('img/banner.png');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 30, 0.75);
  z-index: -1;
}

.content-box {
  max-width: 880px;
  margin: 4rem auto;
  background-color: rgba(20, 20, 40, 0.8);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 25px #0ff;
}

h1 {
  font-size: 5rem;
  color: #08b6f8;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  margin-top: 2rem;
  color: rgb(190, 0, 190);;
  font-size: 3rem;
  text-align: center;
}

h3 {
  margin-top: 2rem;
  color: #bf2bfe;
  font-size: 2rem;
}


p.intro {
  text-align: justify;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.2rem;
}

p.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #aaa;
}

ul.intro {
  text-align: justify;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 3rem;
  font-size: 1.2rem;
}

ol, ul {
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

ol li, ul li {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.85rem;
  color: #888;
}

.desafio {
  background-color: rgba(0, 255, 255, 0.05);
  border: 2px solid rgb(255, 0, 255);
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.267);
}


.semanas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.semana {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #0ff;
  border-radius: 12px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 0 10px #0ff3;
}

.semana h3 {
  margin-top: 0;
  color: #0ff;
  font-size: 1.8rem;
}

.semana h4 {
  margin-top: 2rem;
  color: #ccc;
  font-size: 1.5rem;
  text-align: center;
}


.avaliacao {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid #0ff;
  box-shadow: 0 0 15px #0ff4;
  border-radius: 10px;
  overflow: hidden;
}

.avaliacao th,
.avaliacao td {
  padding: 1.2rem;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #0ff3;
}

.avaliacao th {
  background-color: rgba(0, 255, 255, 0.1);
  color: #0ff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.avaliacao td {
  color: #eee;
  line-height: 1.5;
}
